main {
    height: 100%;
    gap: 30px;
}

/* Botão Verificar */
#verificar-btn {
    width: 100%;
    height: 54px;
    padding: 10px 20px;
    background-color: #F4A503;
    color: #000;
    border: 2px solid #F4A503;
    border-radius: 18px;
    font-family: Urbanist;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

#verificar-btn:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #F4A503;
}

#republica-acesso {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    max-width: 500px;
    height: calc(100vh - (60px + 30px + 230px - 54px));
    flex-direction: column;
    align-items: end;
    padding: 20px;
    gap: 15px;
    border-radius: 17px 17px 0px 0px;
    background: #264370; /* Cor de fundo azul */
}

#cancelar {
    cursor: pointer;
}

.icon-nome {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.icon-nome img {
    width: 100px;
    height: 100px;
}

a.btn {
    width: 100%;
}

/* Botão "Solicitar Acesso" no contêiner azul */
.solicitar-btn {
    width: 100%;
    height: 54px;
    padding: 10px 20px;
    background-color: #F4A503;
    color: #000;
    border: 2px solid #F4A503;
    border-radius: 18px;
    font-family: Urbanist;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}
.solicitar-btn:hover {
    background-color: #264370;
    color: #fff;
    border: 2px solid #F4A503;
}