.input-container {
  position: relative;
}

#copiarCod {
  border: 2px solid #F4A503 !important;
  background-color: #000 !important;
  color: #fff !important;
}

/* Estilo para o ícone de copiar */
.copy-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Material Symbols Outlined';
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.copy-icon:hover {
  color: #F4A503;
}