* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Define o layout principal da página */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.back-button {
    font-size: 30px;
    color: #656F77;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Estilo do título */
h1 {
    font-size: 24px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 30px;
}

.input-field, .btn-registrar {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    font-size: 16px;
    margin-bottom: 8px;
    border: none;
}

.input-field {
    background-color: #fff;
    color: #000;
}

.btn-registrar {
    background-color: #F4A503;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-registrar:hover {
    background-color: #d29502;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.input-container input {
    width: calc(50% - 12px);
    border-radius: 16px;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.radio-option {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
    width: calc(50% - 10px);
    background-color: transparent;
    position: relative;
    transition: background-color 0.3s;
}

/* Estilo para a opção selecionada */
.radio-option.selected {
    background-color: #264370; /* Fundo azul para a opção selecionada */
    color: #fff;
}

/* Ícone de check */
.radio-option.selected::before {
    content: "✔";
    position: absolute;
    left: 15px;
    font-size: 18px;
    color: #fff;
}

.radio-option input[type="radio"] {
    display: none;
}