* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Layout principal */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: relative;
}

.container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.back-button {
    font-size: 30px;
    color: #656F77;
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 30px;
}

h1 {
    font-size: 24px;
    color: #fff;
    margin-top: 50px; /* Ajuste para compensar o espaço da seta */
    margin-bottom: 40px;
}

.description {
    font-size: 16px;
    color: #656F77;
    margin-bottom: 30px;
}

.input-field {
    width: 100%;
    padding: 15px;
    border-radius: 16px;
    font-size: 16px;
    margin-bottom: 15px;
    border: none;
    background-color: #fff;
    color: #000;
}

.btn-enviar {
    width: 100%;
    padding: 15px;
    border-radius: 16px;
    font-size: 16px;
    background-color: #F4A503;
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-enviar:hover {
    background-color: #d29502;
}