body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container {
    text-align: center;
    width: 331px;
    align-items: center;
}

.texto-caixas {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

h1 {
    font-size: 24px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}

.description {
    font-size: 16px;
    color: #656F77;
    flex-direction: column;
    align-items: flex-start;
}

.caixas {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    padding: 0px 14px;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    font-family: Urbanist;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 16px;
}

.btn-enviar {
    width: 100%;
    background-color: #F4A503;
    font-family: Urbanist;
    color: #000;
    height: 54px;
    padding: 14px 23px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-enviar:hover {
    background-color: #d29502;
}

.btn-secundario {
    width: 60%;
    background-color: #fff;
    color: #F4A503;
    font-family: Urbanist;
    height: 54px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #F4A503;
    border-radius: 20px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-secundario:hover {
    background-color: #F4A503;
    color: #fff;
}
