body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    position: relative;
    padding: 49px 100px 0px 100px;
}

main {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: start;
    gap: 50px;
}

.logo-vantagens {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.logo img {
    width: 32px;
    height: 32px;
    border-radius: 40px;
}

.vantagens {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    list-style-type: none;
}

.vantagens li {
    display: flex;
    align-items: center; 
    font-size: 22px;
    font-weight: 500;
    white-space: nowrap;
}

.check-icon {
    width: 12px; /* Tamanho pequeno do ícone de check */
    height: 12px;
    margin-right: 5px; /* Espaço entre o check e o texto */
}

.planos {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 24px;
    gap: 10px;

    border-radius: 20px 20px 0px 0px;
    background: rgba(55, 96, 160, 0.60);
}

.radio-option {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 82px;
    padding: 12px;
    gap: 6px;

    border-radius: 18px; 
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background-color: #1C3152;
    transition: background-color 0.3s;
}

.radio-option.selected {
    background-color: #264370; 
    width: 100%;
    height: 82px;
    flex-shrink: 0;
    img {
        content: url('/assets/icons/login-cadastro/check-cadastro.svg');
    }
}

.radio-option input[type="radio"] {
    display: none; /* Esconde o botão de rádio padrão */
}

.anual-desconto {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.anual {
    display: flex;
    gap: 6px;
    
    font-size: 19px;
    font-weight: 700;
}

.desconto {
    padding: 3px 8px 3px 12px;
    border-radius: 8px;
    background: #F4A503;
    width: 55px;
    height: 28px;
    flex-shrink: 0;

    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.opcoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.botao-continuar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

button {
    width: 100%;
    background-color: #F4A503;
    color: #000;
    height: 54px;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-family: Urbanist;
    font-size: 19px;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.3s;
}

button:hover {
    color: #fff;
}

.continuar {
    text-decoration: none;
    color: #909DB0;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Urbanist;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.continuar:hover {
    text-decoration: underline;
}

.continuar:visited {
    text-decoration: none;
}