header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    position: relative;
    padding: 49px 100px 15px 100px;
}

.header-logo {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    flex-direction: column; /* Alinha tudo em coluna */
    gap: 5px; /* Espaço entre as linhas */
    font-size: 14px;
    color: #fff;
    align-items: flex-start; /* Alinha à esquerda */
}

.header-logo .logo-symbol {
    width: 20px; /* Tamanho pequeno para o símbolo */
    height: 20px;
}

.feature-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Coloca os itens em coluna */
    gap: 5px;
}

.feature-list li {
    display: flex;
    align-items: center; /* Alinha os ícones e o texto */
    font-size: 12px; /* Tamanho pequeno para as palavras */
}

.check-icon {
    width: 12px; /* Tamanho pequeno do ícone de check */
    height: 12px;
    margin-right: 5px; /* Espaço entre o check e o texto */
}

main {
    display: flex;
    height: 100%;
    align-items: end;
}

.planos {
    display: flex;
    width: 587px;
    height: 630px;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px 24px;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 20px 20px 0px 0px;
    background: rgba(55, 96, 160, 0.60);
}

.radio-option {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 327px;
    height: 82px;
    padding: 12px;
    gap: 6px;

    border-radius: 18px; 
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background-color: #1C3152;
    transition: background-color 0.3s;
    width: 534px;
    height: 86px;
    flex-shrink: 0;
}

.radio-option.selected {
    background-color: #264370; 
    width: 534px;
    height: 86px;
    flex-shrink: 0;
    img {
        content: url('/assets/icons/login-cadastro/check-cadastro.svg');
    }
}

.radio-option input[type="radio"] {
    display: none; /* Esconde o botão de rádio padrão */
}

.anual-desconto {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.anual {
    display: flex;
    gap: 6px;
    
    font-size: 19px;
    font-weight: 700;
}

.desconto {
    padding: 3px 8px 3px 12px;
    border-radius: 8px;
    background: #F4A503;
    width: 55px;
    height: 28px;
    flex-shrink: 0;

    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    width: 100%;
    background-color: #F4A503;
    color: #000;
    height: 54px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 18px;
    font-family: Urbanist;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s;
}

button:hover {
    color: #fff;
}

a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Urbanist;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}