body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 49px 100px 15px 100px;
}

.arrow {
    position: absolute; /* Posiciona a seta de forma absoluta */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    font-size: 2rem; /* Tamanho da seta */
    color: #333; /* Cor da seta */
}

/* Estilo para o conteúdo principal */
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative; /* Permite que a seta sobreponha o conteúdo, sem interferir no layout */
    justify-content: center;
    align-items: center;
}

/* Ícone de verificação */
.check-icon {
    width: 100px; /* Ajuste o tamanho do ícone */
    height: 100px;
    margin-bottom: 20px; /* Espaçamento entre o ícone e o título */
}

/* Título */
h1 {
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
}

/* Parágrafo explicativo */
p {
    color: var(--Gray, #8391A1);
    text-align: center;
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%; /* 22.5px */
}

/* Estilo para o botão "Voltar para login" */
.btn-voltar {
    margin-top: 20px; /* Espaço entre a frase e o botão */
    padding: 10px 20px; /* Tamanho do botão */
    background-color: #F4A503; /* Cor de fundo laranja */
    color: #000; /* Cor do texto preta */
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    border: none; /* Remove a borda padrão */
    border-radius: 18px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mãozinha ao passar por cima */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
    display: flex;
    width: 335px;
    height: 54px;
    padding: 14px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

/* Efeito ao passar o mouse no botão */
.btn-voltar:hover {
    color: #FFF; /* Cor do texto muda para branco */
}
