header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 49px 100px 15px 100px;
}

header a {
  margin-right: auto;
}

header p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.transfer-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  gap: 40px;
}

.left-section,
.right-section {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 40px;
}

.right-section {
  width: 45%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  /* Ajusta a largura dos inputs */
  max-width: 434px;
  /* Define uma largura máxima */
  justify-content: center;
  align-items: center;
}

label {
  color: #bcbcbc;
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  align-self: self-start;
}

input {
  display: flex;
  width: 100%;
  /* max-width: 434px; */
  /* height: 70px; */
  padding: 18px 30px;
  align-items: center;
  border-radius: 23px;
  border: 2.5px solid #f4a503;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: Urbanist;
  outline: none;
}

#upload-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 10px;

  padding: 14px 23px;
  width: 100%;
  height: 51px;
  outline: none;
  border: 2px solid #f4a503;
  border-radius: 18px;
  background-color: #000;
  font-size: 16px;
  color: #d3d3d3;
  transition: 0.5s;
}

#upload-area:hover {
  background-color: #f4a503;
  color: #000;
}

#file-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.submit-button {
  width: 100%;
  height: 54px;
  background-color: #f4a503;
  color: #000;
  padding: 10px 20px;
  border: 2px solid #f4a503;
  border-radius: 18px;
  font-family: Urbanist;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.5s;
}

.submit-button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #f4a503;
}

/* Responsividade */
@media (max-width: 768px) {
  .transfer-form {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
  }

  .right-section {
    width: 100%;
    height: auto;
  }

  .left-section {
    width: 100%;

  }

  .input-group,
  .submit-button,
  .attach-input {
    width: 100%;
    /* max-width: 400px; */
  }

  h1 {
    font-size: 20px;
  }

  input {
    /* height: 60px; */
    font-size: 18px;
  }
}

@media (max-width: 480px) {

  .input-group,
  .submit-button,
  .attach-input {
    width: 100%;
    /* max-width: 320px; */
  }

  header {
    padding: 0 15px;
    justify-content: center;
  }

  .back-button {
    left: 10px;
  }

  h1 {
    font-size: 18px;
  }

  input {
    height: 50px;
    font-size: 16px;
    padding: 12px 20px;
  }

  .submit-button {
    /* height: 60px; */
    font-size: 18px;
  }

  .attach-button {
    font-size: 20px;
  }
}