:root {
  --primary-color: #f4a503;
  --light: #ffffff;
  --medium: #bcbcbc;
  --dark: #000000;
}

body {
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px;
}

header {
  display: flex;
  height: auto; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
}

header h1 {
  color: #fff;
  font-family: Urbanist;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 0; 
}

main {
  display: flex;
  height: calc(100vh - (57px + 30px + 68px));
  align-items: flex-start;
  gap: 25px;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.transacoes {
  order: 2;
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  overflow: hidden;
}

.transacoes h2 {
  font-size: 20px;
  line-height: 108%;
  letter-spacing: -0.5px;
  text-align: start;
  font-feature-settings: "liga" off, "clig" off;
}

.lista-botao {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.lista-transacoes {
  flex: 1;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

.lista-transacoes::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.transacao {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
  white-space: nowrap;
}

.transacao span {
  color: #000;
}

.transacao:last-child {
  border-bottom: none;
}

.transacao-info p {
  margin: 5px 0;
  color: #000;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Urbanist;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.ver-tudo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin: 10px auto 0 auto; */
  padding: 10px;
  background-color: #000;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.saldo {
  order: 1;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  border-radius: 10px;
}

.saldo-container {
  display: flex;
  height: 90px;
  overflow: hidden;
  padding: 21px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px -2px rgba(0, 0, 0, 0.12);
  background: var(--primary-color);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  white-space: nowrap;
}

.saldo-container p {
  align-self: stretch;
  color: #000;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
}

.saldo-container h3 {
  align-self: stretch;
  color: #000;
  font-family: Urbanist;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
}

.btn {
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 5px 0px;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  border-radius: 10px;
  border: 3px solid var(--primary-color);
  background: #000;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #f4a503;
  color: #000;
}

/* nav */
.menu {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  border-top: 2px solid #bcbcbc;
  background: #000;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bcbcbc;
  text-decoration: none;
  font-size: 14px;

  .img-active {
    display: none;
  }
}

.menu-item.active {
  color: #f4a503;

  .img-active {
    display: block;
  }

  img {
    display: none;
  }
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .transfer-form {
    flex-direction: column;
    gap: 20px;
  }

  .input-group,
  .submit-button {
    width: 100%;
  }

  header {
    height: auto;
    padding: 10px; /
  }

  header h1 {
    font-size: 25px;
  }

  .back-button {
    position: fixed;
    left: 15px;
    top: 15px;
  }

  .conteudo {
    flex-direction: column;
    /* align-items: center; */
  }

  .transacoes {
    order: 2;
  }

  .transacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    white-space: normal; /* permite quebra de linha no mobile */
  }

  .transacao-info {
    max-width: 70%; /* Limita o espaço para que o span fique dentro do quadro */
  }

  .transacao span {
    width: 30%; /* Define a largura do span */
    text-align: right; /* Alinha o texto do span à direita */
    font-size: 14px; /* Ajusta o tamanho da fonte para mobile */
  }

  .lista-transacoes {
    /* max-height: 50vh; */ /* Ajusta a altura da lista para o mobile */
  }
}
