@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.transferencia-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.header {
    display: flex;
    height: 102px;
    overflow: hidden;
    padding: 50px 100px 15px 100px;
    background: #000;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.icone-seta img {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

h1 {
    flex: 1 0 0;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.5px; /* 102.273% */
    letter-spacing: -0.5px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.coluna-cartoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

}

.form-transferencia {
    width: 48%;
}

.cartao {

    position: relative; /* Adiciona posição relativa */
    border-radius: 20px;
    display: flex;
    width: 325px;
    height: 174px;
    padding: 25px 23px 17px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 25px;
}

.cartao.visa {
    background-color: #ff7a00;
}

.cartao.mastercard {
    background-color: #d9d9d9;
    color: #000;
}

.cartao.amex {
    background-color: #1a73e8;
}

.logo-cartao {
    width: 50px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.info-cartao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descricao-saldo {
    color: var(--Ink-01, #191D21);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align:start;
    font-feature-settings: 'liga' off, 'clig' off;
    padding-top: 15px;
}

.saldo {
    color: var(--Ink-01, #191D21);
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px;
    letter-spacing: -0.5px;
    text-align:start;
    font-feature-settings: 'liga' off, 'clig' off;
    padding-bottom: 10px;
}

.numero-cartao {
    color: var(--Ink-01, #191D21);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    padding-bottom: 10px;
    padding-top: 5px;
}

.detalhes-cartao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: var(--Ink-01, #191D21);
    display: flex;

    
}

.nome-cartao {
    color: var(--Ink-01, #191D21);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
}

.exp-date strong {
    color: var(--Ink-01, #191D21);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: left;


    }

.form-transferencia {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.form-transferencia label {
    align-self: stretch;
    color: var(--cones, #BCBCBC);
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.form-transferencia input {
    flex: 1 0 0;
    color: var(--cones, #BCBCBC);
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    width: 335px;
    height: 54px;
    padding: 14px 23px;
    border-radius: 18px;
    border: 2px solid var(--Cor-principal, #F4A503);
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: #000;
}

.botao-concluir {
    display: flex;
    width: 335px;
    height: 54px;
    padding: 14px 0px;
    border-radius: 18px;
    background: var(--Cor-principal, #F4A503);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #000;
    font-family: Urbanist;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
}

.botao-concluir:hover {
    background-color: #ffd54f;
}
