body {
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 49px 100px 15px 100px;
}

header a {
  margin-right: auto;
}

header p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.coluna-cartoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cartao {
  position: relative;
  border-radius: 20px;
  display: flex;
  width: 325px;
  height: 174px;
  padding: 20px;
  flex-direction: column;
}

.cartao.visa {
  background-color: #ff7a00;
}

.cartao.mastercard {
  background-color: #d9d9d9;
  color: #000;
}

.cartao.amex {
  background-color: #1a73e8;
}

.logo-cartao {
  width: 50px;
  height: auto;
  position: absolute;
  right: 20px;
}

.info-cartao {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.descricao-saldo {
  color: var(--Ink-01, #191d21);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: start;
  font-feature-settings: "liga" off, "clig" off;
  padding-left: 20px;
  padding-top: 10px;
}

.saldo {
  position: absolute;
  top: 35px;
  left: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  color: #191d21;
}

.numero-cartao {
  position: absolute;
  top: 75px;
  left: 20px;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2px;
  color: #191d21;
}

.detalhes-cartao {
  position: absolute;
  bottom: 15px;
  left: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nome-cartao,
.exp-date {
  font-family: Montserrat;
  font-size: 12px;
  color: #191d21;
}

.form-transferencia {
  display: flex;
  width: 45%;
  flex-direction: column;
  gap: 40px;
}

.form-transferencia label {
  color: #bcbcbc;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
}

input {
  padding: 14px 23px;
  width: 100%;
  outline: none;
  border: 2px solid #f4a503;
  border-radius: 18px;
  background-color: #000;
  font-size: 16px;
  color: #d3d3d3;
  transition: border-color 0.3s;
}

.legenda-caixa {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botao-concluir {
  width: 100%;
  height: 54px;
  background-color: #f4a503;
  color: #000;
  padding: 10px 20px;
  border: 2px solid #f4a503;
  border-radius: 18px;
  font-family: Urbanist;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.5s;
  /* margin-bottom: 30px; */
}

.botao-concluir:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #f4a503;
}

/* Responsividade */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    gap: 20px;
  }

  .header {
    padding: 15px;
    height: auto;
  }

  h1 {
    font-size: 18px;
  }

  .coluna-cartoes {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-x: auto;
    padding: 10px;
    width: 100%;
    scrollbar-width: none; /* Firefox */
  }
  
  .coluna-cartoes::-webkit-scrollbar {
      display: none; /* Chrome, Safari e Edge */
  }

  .cartao {
    min-width: 280px;
    height: 150px;
    padding: 15px;
  }

  .form-transferencia {
    width: 100%;
  }

  .form-transferencia input,
  .botao-concluir {
    width: 100%;
  }
}

@media (max-width: 480px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .coluna-cartoes {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-x: auto;
    padding: 10px;
    width: 100%;
  }

  .cartao {
    min-width: 280px;
    height: 150px;
    padding: 15px;
  }

  .descricao-saldo {
    font-size: 10px;
    padding-left: 15px;
    padding-top: 5px;
  }

  .saldo {
    font-size: 16px;
    top: 30px;
    left: 15px;
  }

  .numero-cartao {
    font-size: 14px;
    top: 60px;
    left: 15px;
  }

  .detalhes-cartao {
    bottom: 10px;
    left: 15px;
  }

  .nome-cartao,
  .exp-date {
    font-size: 10px;
  }

  .form-transferencia input,
  .botao-concluir {
    width: 100%;
  }
}