@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f4a503;
  --light: #ffffff;
  --medium: #bcbcbc;
  --dark: #000000;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Urbanist;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  max-width: 1280px;
  padding: 0 20px;
}

header {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  justify-content: flex-end;
  align-items: center;
  background: #000;
}

.vetor-X {
  width: 17px;
  height: 17px;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 20px;
}

.coin-icon {
  width: 150px;
  height: auto;
}

h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
}

p {
  color: var(--Gray, #8391a1);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 100%;
  width: 90%;
}

@media (min-width: 768px) {
  .coin-icon {
    width: 200px;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.125rem;
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .coin-icon {
    width: 212px;
    height: 151px;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
    width: 60%;
  }
}
