body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #BCBCBC;
    gap: 15px;
    padding-bottom: 20px !important; 

}
a {
    display: flex; 
    padding: 0;
    margin: 0;    
    color: inherit;       
    text-decoration: none;        
}

a:visited {
    text-decoration: none;
}

.profile-icon {
    display: block; 
}

#header-profile-user-rep {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-user-rep {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#header-rep {
    display: flex;
    gap: 4px;
}

#header-config-not {
    display: flex;
    align-items: center;
    gap: 15px;
}

#user-nome {
    font-size: 24px;
    font-weight: 600;
}

a #rep-nome {
    font-size: 14px;
    line-height: 22px;
    transition: color 0.5s;
}

a #rep-nome:hover {
    color: #F4A503;
}

main {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

#secao-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#menu-calendario {
    border-radius: 15px;
    background: #264370;
}

#menu-votacao {
    border-radius: 15px;
    background: #3C755A;
}

#menu-multas {
    border-radius: 15px;
    background: #F56602;
}

.menu-box-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    gap: 10px;
    color: #000;
    font-size: 15.385px;
}

#secao-multa-tarefas {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 33px;
}

#aviso-multa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 86px;
    height: 113px;
    padding: 0px 20px;

    border-radius: 10.245px;
    background: #F56602;
    color: #000;
}

#aviso-multa-titulo-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    white-space: pre-wrap;
    font-size: 20px;
}

#aviso-multa-info {
    display: flex;
    gap: 7px;

    font-size: 12px;
}

#secao-tarefas {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#tarefas-filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tarefas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box-tarefa {
    display: flex;
    flex-direction: row;
    flex: 1;
    /*width: 100%;*/
    flex-basis: 40%;
   /* min-width: 315px;*/
    padding: 10px;
    align-items: center;
    gap: 13px;
    
    border-radius: 10px;
    background: #F4A503;
}

.box-tarefa-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
}

.box-tarefa-info-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}

.tarefa-nome {
    font-size: 18px;
}

.tarefa-data {
    font-size: 12px;
}

#tarefas-botao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 88px;
}

#botao-nova-tarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;
    gap: 10px;

    border: 3px solid #F4A503;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.5s;
}
    
#botao-nova-tarefa:hover {
    background-color: #F4A503;
    color: #000;
    img {
        filter: brightness(1) invert(1);
    }
}

#filtro {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    
    border: none;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #BCBCBC;
    padding: 4px;
    background-image: url('../../assets/icons/home/seta-filtro.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    cursor: pointer;
}

#filtro option {
    background-color: #000;
    border: none;
  }

@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    #secao-menu {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .menu-box-link {
        width: 100%;
    }

    .box-tarefa {
        flex-basis: 100%;
    }

}