* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    min-height: 100vh;
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #000; 
    padding: 10px 50px; /* Ajustado para um padding consistente */
    margin: 20px 0px; /* Margens do container */
} 

.back-arrow {
    color: #fff;
    font-size: 24px;
    text-decoration: none; 
    transition: color 0.3s ease;
    margin: 0 350px; /* Reduzido para manter o alinhamento */
}

.check{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0 350px; 
}

.back-arrow:hover, .check:hover {
    color: #F4A503;
}

.title {
    font-size: 20px;
    color: #fff;
}
 


.group-info-container {
    background-color: #000;
    display: flex;
    padding: 20px;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    justify-content: flex-start;
}

.top-section {
    width: 100%;
    display: flex;
    gap: 20px;
}

.main-chat {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    min-height: 102px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
    padding: 0 100px 15px;
}

.chat-icon-container {
    display: flex;
    min-height: 38px;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.chat-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 26px;
}

.side-chat {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    min-height: 102px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
    margin: 8px auto 0;
    padding: 0 0 15px 20px;
}

.side-chat-icon-container {
    display: flex;
    min-height: 43px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.side-chat-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 19px;
}

.group-info {
    align-self: center;
    display: flex;
    margin-top: 20px; /* Ajuste na margem */
    min-height: 405px;
    width: 100%;
    max-width: 908px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.group-details {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    flex-basis: 0%;
}

.group-header {
    align-self: center;
    display: flex;
    width: 164px;
    max-width: 100%;
    flex-direction: column;
    font-family: Urbanist, sans-serif;
    font-weight: 600;
    justify-content: flex-start;
}

.group-avatar {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100px;
    align-self: center;
    max-width: 100%;
}

.group-name-container {
    display: flex;
    flex-direction: column; 
    margin-top: 15px;
    min-height: 41px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.group-name {
    color: #fff;
    font-size: 17px;
}

.member-count {
    color: #bcbcbc;
    font-size: 14px;
}

.divider {
    height: 1px; /* Altura da linha */
    background-color:#bcbcbc; /* Cor da linha */
    margin: 15px 0; /* Margem superior e inferior */
    width: 100%; /* Largura total */
}

.divider-line {
    aspect-ratio: 500;
    object-fit: contain;
    width: 100%;
}

.group-description {
    display: flex;
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    color: #bcbcbc;
    font: 600 14px Urbanist, sans-serif;
}

.description-content {
    border-radius: 10px;
    display: flex;
    min-height: 48px;
    margin-top: 10px;
    width: 335px;
    max-width: 100%;
}

.group-announcements {
    display: flex;
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    font-family: Urbanist, sans-serif;
}

.announcements-title {
    color: #bCBCBC;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.announcements-content {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    padding: 0 5px;
}

.announcements-title2 {
    color: #f4a503;
    font-size: 14px;
    font-weight: 600;
}

.announcements-content2 {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    padding: 0 5px;
}

.announcements-content2-input { 
    border: 1.5px solid #fff; 
    background-color: #000; 
    color: #ccc; 
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px;
    width: 100%; 
}

.members-list {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    font-family: Urbanist, sans-serif;
    font-weight: 600;
    justify-content: flex-start;
    flex: 1;
    flex-basis: 0%;
    margin-left: 20px;
    height: 194px ;
}

.member-item {
    background-color: #000;
    border-bottom: 1px solid #000;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 19px 15px;
}

.member-profile {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: #fff;
    justify-content: flex-start;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;
}

.member-avatar {
    aspect-ratio: 1;
    object-fit: contain;
    width: 42px;
    align-self: stretch;
    margin: auto 0;
}

.member-name {
    align-self: stretch;
    min-width: 240px;
    flex: 1;
    margin: auto 0;
}

.member-role {
    align-self: stretch;
    font-size: 10px;
    text-align: center;
    margin: auto 0;
}

.admin-role {
    color: #f4a503;
}

.member-role:not(.admin-role) {
    color: #bcbcbc;
}

/* Estilos para o Pop-up */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #1e1e1e;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #fff;
}

.popup-button {
    background-color: #f4a503;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.popup-button:hover {
    background-color: #d18e03;
}






/* Responsividade */
@media (max-width: 768px) {
    .main-container {
        margin: 0 3%;
    }

    .back-arrow, .check /*.settings*/ {
        font-size: 20px; 
    }

}

@media (max-width: 480px) {
    .main-container {
        margin: 0 2%;
    }

    .back-arrow, .check /*settings */ {
        font-size: 18px; 
    }
}

