body {
    display: flex;
    flex-direction: column; 
}

header {
    display: flex; 
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
}

.back-arrow {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.settings {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-arrow:hover, .settings:hover {
    color: #F4A503;
}

.title {
    font-size: 20px;
    color: #fff;
}

main {
    display: flex;
    align-items: center;
}

.top-section {
    width: 100%;
    display: flex;
    gap: 20px;
}

.main-chat {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    min-height: 102px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
    padding: 0 100px 15px;
}

.chat-icon-container {
    display: flex;
    min-height: 38px;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.chat-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 26px;
}

.side-chat {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    min-height: 102px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;
    margin: 8px auto 0;
    padding: 0 0 15px 20px;
}

.side-chat-icon-container {
    display: flex;
    min-height: 43px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.side-chat-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 19px;
}

.group-info {
    display: flex;
    width: 100%;
    align-self: center;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.group-details {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.group-header {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
}

.group-avatar {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100px;
    align-self: center;
    max-width: 100%;
}

.group-name-container {
    display: flex;
    flex-direction: column; 
    margin-top: 15px;
    min-height: 41px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.group-name {
    color: #fff;
    font-size: 17px;
}

.member-count {
    color: #bcbcbc;
    font-size: 14px;
}

.divider {
    height: 1px; /* Altura da linha */
    background-color:#bcbcbc; /* Cor da linha */
    margin: 15px 0; /* Margem superior e inferior */
    width: 100%; /* Largura total */
}

.divider-line {
    aspect-ratio: 500;
    object-fit: contain;
    width: 100%;
}

#segunda-divider {
    display: none;
}

.group-description {
    display: flex;
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    color: #bcbcbc;
    font: 600 14px Urbanist, sans-serif;
}

.description-content {
    border-radius: 10px;
    display: flex;
    min-height: 48px;
    margin-top: 10px;
    width: 335px;
    max-width: 100%;
}

.group-announcements {
    display: flex;
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    font-family: Urbanist, sans-serif;
}

.announcements-title {
    color: #bCBCBC;
    font-size: 14px;
    font-weight: 600;
}

.announcements-content {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    padding: 0 5px;
}

.announcements-title2 {
    color: #f4a503;
    font-size: 14px;
    font-weight: 600;
}

.announcements-content2 {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    padding: 0 5px;
}

.members-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    gap: 38px;
}

.member-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.member-profile {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    gap: 12px;
    font-size: 18px;
}

.member-avatar {
    aspect-ratio: 1;
    object-fit: contain;
    width: 42px;
    align-self: stretch;
    margin: auto 0;
}

/*.member-name {
    align-self: stretch;
    min-width: 240px;
    flex: 1;
    margin: auto 0;
} */

.member-name {
    align-self: stretch;
    min-width: 240px;
    flex: 1;
    margin: auto 0;
    font-size: 18px; 
    color: #fff; 
    text-decoration: none; 
}

.member-name:hover {
    color: #F4A503;
}

.member-name-adm {
    align-self: stretch;
    min-width: 240px;
    flex: 1;
    margin: auto 0;
    font-size: 18px; 
    color: #fff; 
    text-decoration: none; 
}

.member-name-adm:hover {
    color: #F4A503; 
}

.member-role {
    align-self: stretch;
    font-size: 10px;
    text-align: center;
    margin: auto 0;
}

.admin-role {
    color: #f4a503;
}

.member-role:not(.admin-role) {
    color: #bcbcbc;
}

@media (max-width: 1000px) {
    .group-info {
        flex-direction: column;
    }

    #segunda-divider {
        display: block;
    }
}

