body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 49px 100px 15px 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

h1 {
    font-size: 24px;
}

hr {
    width: 100%;
    border: 1px solid #333;
} 

.descricao {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#botao-pagar {
    display: flex;
    width: 335px;
    padding: 14px 0px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    
    background-color: #F56602;
    border: 3px solid #F56602;
    border-radius: 18px;
    color: #000;
    font-size: 20px;
    font-weight: 700;

    transition: background-color 0.5s;
}

#botao-pagar:hover {
    background: #000;
    color: #fff;
    border: 3px solid #F56602;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media (max-width: 664px) {
    .descricao {
        text-align: start;
    }
    
}