* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

#wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: fit-content;
    padding: 20px;
    background: #264370;
    border-radius: 0 0 10px 10px;
    gap: 20px;
    margin-right: 100px;
  }
  
  #wrapper .cabecalho-calendario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
  }
  
  .cabecalho-calendario .current-date {
    font-size: 22px;
    pointer-events: none;
    font-family: Urbanist;
    color: #fff;
    font-weight: 600;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  #dropdownBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #264370;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 193px;
    height: 175px;
    border-radius: 8px;
    color: #fff;
    padding: 10px;
  }
  
  .dropdown-items {
    display: flex;
    justify-content: space-between;
  }
  
  .months,
  .years {
    height: 155px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .months {
    flex: 1;
  }
  
  .dropdown-content ul {
    list-style: none;
  }
  
  .dropdown-content ul::-webkit-scrollbar {
    display: none;
  }
  
  .dropdown-content ul li {
    flex: 1;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-content ul li:hover {
    background-color: #fff;
    color: #264370;
  }

  .calendar {
    width: 100%;
  }
  
  .calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  
  .calendar .weeks li {
    font-size: 12px;
    color: #BCBCBC;
    cursor: default;
    width: calc(100% / 7);
  }
  
  .calendar li {
    color: #fff;
    width: calc(100% / 7);
    font-size: 16px;
  
  }
  
  .calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
  }
  
  .days li.inactive {
    color: #aaa;
  }
  
  .days li.active {
    color: #264370;
  }
  
  .days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 8px;
    transform: translate(-50%, -50%);
  }
  
  .days li.active::before {
    background: #fff;
  }
  
  .days li:not(.active):hover::before {
    color: #F4A503;
  }